<nav>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <ul>
        <li>
          <a routerLink="/demos/demo01">Demo01</a>
        </li>
        <li>
          <a routerLink="/demos/demo02">Demo02</a>
        </li>
        <li>
          <a routerLink="/demos/demo03">Demo03</a>
        </li>
        <li>
          <a routerLink="/demos/demo04">Demo04</a>
        </li>
      </ul>
      <ul>
        Lazy Loading
        <li>
          <a routerLink="demos"></a>
        </li>
        <li>
          <a routerLink="/demos/demos01">Demo01</a>
        </li>
        <li>
          <a routerLink="/demos/demos02">Demo02</a>
        </li>
        <li>
          <a routerLink="/demos/demos03">Demo03</a>
        </li>
        <li>
          <a routerLink="/demos/demos04">Demo04</a>
        </li>
      </ul>
      <li>
        Lazy Loading
          <a routerLink="exos">Exercices</a>
            <ul>
              <li>
                <a routerLink="/exos/exo01">Exo01</a>
              </li>
              <li>
                <a routerLink="/exos/exo02">Exo02</a>
              </li>
              <li>
                <a routerLink="/exos/exo03">Exo03</a>
              </li>
            </ul>

      </li>
      <ul>
        <li>
          <a routerLink="admin">Administration</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
